body{
    margin: 0;
    padding: 0;
}


.conte{
    display:grid;/* 
    margin-top:25px; */    
    background-color: maroon;

    grid-template-columns: 1fr;
    grid-template-areas: 
    "content1 content1 content1"
    "content2 content2 content2"
    "content3 content3 content3"
    "content4 content4 content4"
    "content5 content5 content5"
    "content6 content6 content6"
    "content7 content7 content7"
    ;
    

}

.content1{
    background-color: maroon;
    grid-area: content1;
}
.content2{
    background-color: yellow;
    grid-area: content2;

}

.content3{
    background-color: black;
    grid-area: content3;

}
.content4{
    background-color: red;
    grid-area: content4;

}
.content5{
    background-color: blue;
    grid-area: content5;

}

.content6{
    background-color:gray;
    grid-area: content6;

}

.content7{
    background-color: purple;
    grid-area: content7;

}