body{
    margin: 0;
}
.containerRoot{
    height: 100vh;
    display: flex;
    width: auto;
    overflow: hidden;
    

}
p{
    font-size: 15px;
}
.block1{
    width: 50%;
    height: 100%;
    display: inline-block;
    flex-direction: column;
    
    
}
.block2{
    width: 50%;
    height: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding-left:10%
    
}
.bouton{
    position: absolute;
    top: 5%;
    left: 65%;
}

 h1{
    font-size: 75px;
    font-family: 'Roboto slab';
    font-weight:500px;
}
/*
h4{
    justify-content: center;
}
small{
    font-size: 15px;
    font-family: 'Roboto slab';
    font-weight:200px;
}
 */
.content{
    background-color: #2F8B7B;
    color:#fff;
    height: 50%;
    padding: 1em 4em 2em 4em;
    display:inline-block;
    justify-content: space-between;
    
    /* 
    display: flex; */
}

.image{
    height: 50%;
    
    
}
.img-fluid{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form{
    display: flex;
    flex-direction: column;
    width: 400px;
    
}
.submit{
    background-color:#2F8B7B !important;
    border-radius: 18px !important;
    color: #fff !important;
    text-transform: capitalize !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: 50px;
}


.form-container{
    width: 50%;
    justify-content: center;
    
}
.text{
    display: inline-block;
    width: 70%;
    justify-content: center;
    text-align: center;
    align-content: right;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
}
.btn{
    text-decoration: none;
    background: #FF7A42 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 13px #FF7A4259;
    border-radius: 27px;
    opacity: 1;
    color: #fff;
    text-transform: none;
    
}
.link{
    text-transform: capitalize;
    text-decoration-line: none;
    color: #fff;
}
.btn:hover{
    background: #FF7A42 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 13px #FF7A4259;
}
small{
text-align: justify;
font: normal normal normal 18px/25px Roboto;
letter-spacing: 0px;
color: #757575;
opacity: 1;
font-size: 15px;

}
.title{
text-align: center;
font: normal normal medium 30px/71px Roboto Slab;
letter-spacing: 0px;
color: #757575;
opacity: 1;
justify-content: center;
align-items: center;
font-size: 20px;
font-weight: bold;
}

.content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
    
    
}
address{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    height: 50%;
    color: #fff;
}
.icons{
    width: 45px !important;
    height: 60px !important;
}

.item{
    width: 85%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.contacteContainer{
    display: flex;
    flex-direction: column;
    justify-content: left;

}
.ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: left;
    margin-left: 0;
}
.ulli{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 0;
}
.textNous{
        font-size: 15px;
    }
    .grid{
        margin :15px 0px 15px 0px ;
        font: normal normal medium 30px/71px Roboto Slab;
        font-size: 15px;

    }
    .TextField{
        margin:5px 0 12px 0
    }




