body{
    margin: 0;
}
.containerRoot{
    height: 100vh;
    display: flex;
    width: 100%;
    

}
.block1{
    background-color: gray;
    width: 50%;
    display: flex;
    flex-direction: column;
    
}
.block2{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
h1{
    font-size: 75px;
    font-family: 'Roboto slab';
    font-weight:500px;
}
small{
    font-size: 15px;
    font-family: 'Roboto slab';
    font-weight:200px;
}

.content{
    background-color: #2F8B7B;
    color:#fff;
    height: 100%;
    text-align:center;
    width: 100%;
    align-items: center;
}
.content1{
    font: 'normal normal medium 75px/71px Roboto Slab';
    color: #FFFFFF;
    opacity: 1;
    letter-spacing: 0px;
    font-size: 35px;
    font-weight: bold;
}
.content2{
    font-size: large;
    /* width: 50%; */
    text-align:'center';
}

.textContent{
    width: 60%;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    align-items: center;
}

.image{
    height: 50%;
    
    
}
.img-fluid{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form{
    display: flex;
    flex-direction: column;
    width:350px
}
.submit{
    background-color:#2F8B7B !important;
    border-radius: 18px !important;
    color: #fff !important;
    text-transform: capitalize !important;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: 50px;
}

.bouton{
    position: absolute;
    
    border-radius: 27px !important;
    text-transform: capitalize !important;
    top: 31px;
    right: 80px;
    
}
.btn{
    background-color: #FF7A42 !important;
    color: #fff !important;
    text-transform: capitalize !important;
}

