body{
    margin: 0;
}
.container{
    flex-grow: 1;
    height: 100vh;
    display: flex;
    width: 100%;
    background-color:green;

}

.form{
    display: flex;
    width: 50%;
    height: 80%;
    align-items: center;
    margin-left: 25%;
    margin-top: 5%;
}
.paper{
    width: 100%;
    height: 100vh;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 23px #00000029;
    border-radius: 15px;
    opacity: 1;
}

.inp{
    display: flex;
    border: solid;
    border-color: chocolate;
    border-radius: 18px;
    height: 20%;
}